<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_watch实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        computed和watch的区别
        1.computed能完成的功能，watch都可以完成
        2.watch能完成的功能，computed不一定能够完成，例如：watch可以进行异步操作
        两个重要小原则
        1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象
        2.所有不被Vue管理的函数（定时器回调函数、ajax的回调函数等），最好写成箭头函数
        这样this的指向才是vm或组件实例对象，
        箭头函数不绑定this，它会捕获其所在（即定义的位置）上下文的this值，作为自己的this值
     -->
     <!--准备好一个容器-->
     <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        姓名：<span>{{fullName}}</span>
      </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el:'#root',
        data:{
            firstName:'张',
            lastName:'三',
            fullName:'张-三'
        },
        //watch区别于计算属性：watch可以异步
        watch:{
            firstName(newValue){
                // 箭头函数不绑定this， 它会捕获其所在（即定义的位置）上下文的this值， 作为自己的this值
                setTimeout(()=>{
                    this.fullName = newValue + '-' + this.lastName;
                },2000);//等两秒钟
                
            },
            lastName(newValue){
                this.fullName = this.firstName + '-' + newValue;
            }
        }
    })
</script>
</html>